@page "/vendorinterface"
@using Me_MoApp
@inject Data.PostDataService vInfo
<PageTitle>VendorInterface</PageTitle>



<h3>Vendor Interface</h3>

<p>
    @foreach (Vendor vendor in vInfo.GetTheVendors())
    {
    <p>@vendor.BusinessName</p>
    <p>@vendor.Address.Door</p>
    <p>@vendor.Address.Street</p>
    <p>@vendor.Address.City</p>
    <p>@vendor.Address.Country</p>


    }

</p>



@code {

}


