@using Me_MoApp

<div class="card mx-auto" style="width: 40rem;">

    <div class="mt-2 text-end me-2">
        <a class="btn btn-primary" role="button" href="/editpostinterface">New Post</a>
    </div>

    <div class="card-body">
        <p><strong>@DPost.User.FirstName @DPost.User.LastName</strong></p>

        @foreach (var path in DPost.Paths) //make paths a list
        {
            <p><p><img style="width: 100px" src="/images/@path" /></p></p>
        }

        <p><strong>@DPost.Description</strong></p>

        <p><strong>@DPost.Categorization</strong></p>


        <br />
       

        <p><strong>@DPost.TimeStamp</strong></p>
        <hr />

        <VoteDisplay @bind-Post="DPost"></VoteDisplay>
        <AddCommentEntry @bind-Post="DPost"></AddCommentEntry>
        <DropdownExample @bind-Post="DPost"></DropdownExample>


        @foreach (var comment in DPost.TheComments)
        {
            <CommentDisplay Dcomment="comment"></CommentDisplay>
        }


        @foreach (var vendor in DPost.Vendor)
        {
            <VendorDisplay DVendor="vendor"></VendorDisplay>
        }

    </div>
</div>
<br />
@code {
    [Parameter]
    public Post? DPost { get; set; }



}

