@using Me_MoApp
<div class="card mx-auto" style="width: 40rem;">


    <div class="mt-2 text-end me-2">
        <a class="btn btn-primary" role="button" href="/userentryform">New User</a>
    </div>



    <div class="card-body">

        <p><strong>@DUser.ID</strong></p>
        <p><strong>@DUser.FirstName @DUser.LastName</strong></p>
        <p><img style="width: 100px" src="/images/@DUser.Picture" /></p>
        <p><strong>@DUser.Sex</strong></p>
        <p><strong>@DUser.Phone.PhoneNumber</strong></p>


    </div>
</div>

@code {
    [Parameter]
    public UserData DUser { get; set; } 

    //public Data.ApplicationDbContext? dbContext { get; set; }
}
