@using Me_MoApp

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <small>Clothing designed by</small>
        <p>@DVendor.BusinessName</p>
        <small>Number @DVendor.Address.Door @DVendor.Address.Street</small>  
        <small>@DVendor.Address.City @DVendor.Address.Country</small>
    </div>

    @* TODO - Address display component *@
</div>
<br />


@code {
    [Parameter]
    public Vendor DVendor { get; set; }
}
