@using Me_MoApp

<div class="card mx-auto" style="width: 40rem;">

    <div class="mt-2 text-end me-2">
        <a class="btn btn-primary" role="button" href="/editpostinterface">New Post</a>
    </div>

    <div class="card-body">
        <p><strong>@DPost.User.FirstName @DPost.User.LastName</strong></p>

        @foreach (var path in DPost.Paths) //make paths a list
        {
            <p><p><img style="width: 100px" src="/images/@path" /></p></p>
        }

        <p><strong>@DPost.Description</strong></p>

        <select asp-for="PostCategory" class="control-label">
            <option value="0">Select Category</option>
            @foreach (var category in Enum.GetValues(typeof(PostCategory)))
            {
                <option value="@category">@category</option>
            }

        </select>

        <p><strong>@DPost.TotalVotes</strong></p>
        <p><strong>@DPost.TimeStamp</strong></p>
        <hr />

        <AddCommentEntry @bind-Post="DPost"></AddCommentEntry>


        @foreach (var comment in DPost.TheComments)
        {
            <CommentDisplay Dcomment="comment"></CommentDisplay>
        }


        @foreach (var vendor in DPost.Vendor)
        {
            <VendorDisplay DVendor="vendor"></VendorDisplay>
        }

    </div>
</div>
<br />
@code {
    [Parameter]
    public Post DPost { get; set; }

  
}

