@using Me_MoApp

<p><strong>@DPost.User.FirstName</strong></p>
<p><strong>@DPost.User.LastName</strong></p>
<p><p><img style="width: 100px" src="@DPost.User.Picture" /></p></p>
<p><strong>@DPost.Description</strong></p>
<p><strong>@DPost.Categorization</strong></p>
<p><strong>@DPost.TotalVotes</strong></p>
<p><strong>@DPost.TimeStamp</strong></p>
<p> <strong>@DPost.</strong> </p>


@code {
    [Parameter]
    public Post DPost { get; set; }
}
