@using Me_MoApp
<div class="card mx-auto" style="width: 40rem;">
    <div class="card-body">
        <p><strong>@DPost.User.FirstName @DPost.User.LastName</strong></p>

        @* <p><p><img style="width: 100px" src="@DPost.User.Picture" /></p></p> *@
        @foreach (var path in DPost.Paths) //make paths a list
        {
            <p><p><img style="width: 100px" src="/images/@path" /></p></p>
        }

        <p><strong>@DPost.Description</strong></p>
        <p><strong>@DPost.Categorization</strong></p>
        <p><strong>@DPost.TotalVotes</strong></p>
        <p><strong>@DPost.TimeStamp</strong></p>
        <hr />

        <AddCommentEntry @bind-Post="DPost"></AddCommentEntry> 
        

        @foreach (var comment in DPost.TheComments)
        {
            <CommentDisplay Dcomment="comment"></CommentDisplay>
        }

        <AddVendorEntry @bind-Post="DPost"></AddVendorEntry>

        @foreach (var vendor in DPost.Vendor) 
        {
            <VendorDisplay DVendor="vendor"></VendorDisplay>
        }
        @* vendors not showing *@

    </div>
</div>
<br />
@code {
    [Parameter]
    public Post DPost { get; set; }
}

@*  why do I need postInterface, postDisplay and postDataservice.
 Seems like a long reach? *@
 @* post entry is still using name from my test data *@
 @* interface to add a new user? *@
 @* but description changes *@
@* post entry still using pictures from my test data *@
@* create somewhere users can edit their account *@
 @* upload multiple pictures *@
 @* create condition for uploading picture *@
 @* parameter *@