@using Me_MoApp

<p><strong>@DPost.User.FirstName</strong></p>
<p><strong>@DPost.User.LastName</strong></p>
<p><p><img style="width: 100px" src="@DPost.User.Picture" /></p></p>
<p><strong>@DPost.Description</strong></p>
<p><strong>@DPost.Categorization</strong></p>
<p><strong>@DPost.TotalVotes</strong></p>
<p><strong>@DPost.TimeStamp</strong></p>

@foreach(var comment in DPost.TheComments)
{
   <CommentDisplay Dcomment="comment"></CommentDisplay>
}

@code {
    [Parameter]
    public Post DPost { get; set; }
}

create comment display component
create user input components
create user edit page

What is an edit page?
Check my input page
Does the input replace the dataservice?
