@using Me_MoApp

<strong>@DPost.User.FirstName</strong>
@* <strong>@DPost.User.FirstName</strong> *@

@* <strong>@DPost.User.LastName</strong> *@
@* <p><img style="width: 100px" src="@DPost.User.Picture" /></p> *@
<strong>@DPost.Description</strong>
<strong>@DPost.Categorization</strong>
<strong>@DPost.TotalVotes</strong>
<strong>@DPost.TimeStamp</strong>

@* <PostDisplay @Post="post"></PostDisplay> *@

@code {
    [Parameter]
    public Post DPost { get; set; }




}
