@using Me_MoApp

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <small>Clothing designed by</small>
        <p>@DVendor.BusinessName</p>
        <small>Number @DVendor.Address.Door, @DVendor.Address.Street</small>
        <small>@DVendor.Address.City, @DVendor.Address.Country</small>
    </div>
</div>
<br />

@* <p><strong>@DVendor.BusinessName</strong></p>
<p><strong>@DVendor.Address.Door</strong></p>
<p><strong>@DVendor.Address.City</strong></p>
<p><strong>@DVendor.Address.Country</strong></p>
<p><strong>@DVendor.Address.Email</strong></p>
<p><strong>@DVendor.Phone.PhoneNumber</strong></p> *@

@code {
    [Parameter]
    public Vendor DVendor { get; set; }
}
